/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html{
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
body{
font-size: 1.05em;
line-height: 1.25em;
font-weight: 100;
font-family: "Roboto", Arial, sans-serif;
background-color: #fff;
}
img {
	max-width: 100%;
  border:0;
}
.c-entry-box--compact .c-dynamic-image, .c-entry-box--compact .c-entry-box--compact__image, .c-entry-box--compact .c-picture{
  z-index: 2;
}
.l-hub-wrapper{
    max-height: flex;
    min-height: 78vh;
    min-width: 100%;
}
.l-wrapper{
  height: inherit;
  width: 100%;
  margin: 0;
}
.l-main-content{
  height: inherit;
  padding:1%;
  width: 90%;
  margin-left: 4%;
  display: table;
  white-space: nowrap;
}
.header_image{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: block;
}
.l-col__main{
  height: flex;
  width:70%;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 0;
  display: table-cell;
  vertical-align: top;
  background-color: #fff;
}
.l-col__sidebar{
  height: flex;
  width:30%;
  right:0;
  margin: 0;
  margin-top: 100;
  padding: 0;
  display: table-cell;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0,0,0,.16);
  }
  /*inside col__main*/
.c-compact-river{
  height:flex;
  width: 100%;
}
.c-compact-river__entry{
  width:90%;
  height:200px;
  padding-bottom: 1%;
  border-top: 1px solid grey;
}
.image-wrapper{
  width: 20%;
  margin-right: 2%;
  float: left;
}
.c-dynamic-image{
  background-position: 50%;
  background-size: cover;
  left: 0;
}
.c-entry-box--compact__body{
  padding-top: 2%;
  margin-bottom: 5%;
  width:100%;
  height: flex;
  right:0;
  top:0;
  white-space: normal;
}
.c-entry-box--compact__title{
  font-weight: 500;
  font-size: 20px;
  //*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; "adelle sans",helvetica, sans-serif*//
}
.c-entry-box--compact__title:hover{
  text-decoration: none;
  color:#000;
}
.c-entry-box--compact__image{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.c-byline{
  font-weight: 200;
  font-family: helvetica,sans-serif;
  color:#6A6A6A;
}
#sidebar h3,p,li{
  font-weight: 300;
  font-size: 15px;
  font-family: helvetica,sans-serif;
  color:#666;
}
h2{
  color:#000;
  font-size: 1em;
}
a{
  color:#000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #444;
}

 #mc_embed_signup{
    width:100%;
    padding: 5%;
    background-color: #dadfe9;
    font:20px Helvetica,Arial,sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,.16);
  }
 #mc_embed_signup_scroll{
   margin-left: 12%;
   border-radius: 5px;

 }
 .latest_post{
   margin-left: 8%;
 }
 footer{
   width:100%;
   background-color: #292c2f;
   padding:40px 0px;
   z-index: 100;
   position: absolute;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	 box-sizing: border-box;
   text-align: center;
 	 font: normal 18px sans-serif;

 	padding: 45px;
 	margin-top: 80px;
 }
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
}
.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}
.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}
.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}
.header_image img{
  width:90%;
}
@media (max-width : 740px) {
	header {
		  position: fixed;
      height: 75px;
	}
  .l-main-content{
    margin:0;
    width:100%;
    display: block;
  }
  .l-col__main{
      width:100%;
      display: block;
  }
  .l-col__sidebar{
      width: 100%;
      padding-bottom: 5%;
      display: block;
  }
  .c-compact-river__entry{
      height: 100px;
  }
  .c-entry-box--compact__title{
      font-size: 18px;
  }
  .c-byline{
      font-weight: 300;
      font-size: 15px;
      font-family: helvetica,sans-serif;
      color:#6A6A6A;
  }
  #mc_embed_signup{
      width:100%;
      margin: 0;
  }
  .clear input{
    width:50%;
  }
  .header_image img{
    width:102%;
  }
  .logo img{
      height: 70px;
      width: 111px;
      margin-top: 15px;
  }
  footer{
    margin-top: 0;
  }
}
